.divA{
   
  .bloco1 {
  border: solid;
  border-color: black;
  background-color: blue;
  width: 200px;
  height: 200px;
  position: 
  left: 800px;
  top: 150px;
}

.bloco2 {
  border: solid;
  border-color: black;
  background-color: green;
  width: 200px;
  height: 200px;
  position:absolute;
  right: 800px;
  top: 150px;
}

.bloco3 {
  border: solid;
  border-color: black;
  background-color: red;
  width: 200px;
  height: 200px;
  position:fixed;
  left: 800px;
  top: 150px;
}

.bloco4 {
  border: solid;
  border-color: black;
  background-color: yellow;
  width: 200px;
  height: 200px;
  position: relative;
  left: 800px;
  top: 150px;
}
